{% import '/macros/buttons.html.twig' as fap_macros %}

{% include '/common/_form_header.html.twig' with { 'mainTitle': mainTitle, 'url': url, 'action': path('car_service_cars_index') } %}

<div class="card border-secondary p-2">

    <div class="card-body">

        {{ form_errors(form) }}

        {{ form_start(form) }}

            <div class="row">
                <div class="col-md-auto">
                    {{ form_row( form.brand ) }}
                </div>
                <div class="col-md-model">
                    {{ form_row( form.model ) }}
                </div>
                <div class="col-md-2">
                    {{ form_row( form.patent ) }}
                </div>
                <div class="col-md-1">
                    {{ form_row( form.yearModel ) }}
                </div>
                <div class="col-md-auto">
                    {{ form_row( form.color ) }}
                </div>
                <div class="col-md-auto">
                    {{ form_row( form.owner ) }}
                </div>
            </div>
        </br>

        <div class="row">
            <div class="col-md-12 text-right">
                {{ fap_macros.btn_save() }}
            </div>
        </div>

        {{ form_end(form) }}
    </div>
</div>

{% block javascripts %}

<script src="{{ asset('/js/dependent_select.min.js') }}"></script>

<script type="text/javascript">
    $(function(){
        $('#car_brand').dependentSelect( { 
                                    selector: '#car_brand',
                                    url: "{{ path('car_service_models_by_brand' ) }}",
                                    target: '#car_model',
                                    entity: 'model'
                                    } );
    });
</script>
    
{% endblock %}