{% import '@macros/buttons.html.twig' as fap_macros %}

{% set title = 'cars'|trans %}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="alert alert-primary">
    <div class="row">
        <div class="col-md-auto">
            <h4>{{title}}</h4>
        </div>
        <div class="col text-right">
            <h4>{{ fap_macros.btn_link_new( path('car_service_cars_new') ) }}</h4>
        </div>
    </div>
</div>

<div class="table-list table-responsive">
    <table class="table table-index table-striped table-sm">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'description'|trans, 'car.description') }}</th>
                <th scope="col" class="text-center pl-0 pr-0">{{ 'actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for row in pagination %}
            <tr>
                <td class="text-left">{{ row.description }}</td>
                <td class="float-right d-table">
                    {% include '@car/_index_actions.html.twig' %}
                </td>                
            </tr>
        {% else %}
            <tr>
                <td colspan="20">{{'no.data'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}    
</div>

{% endblock %}
