{% macro item_tag(item) %}

    {# {{dump(item)}} #}

    <div class="row item-item">
        <div class="col-md-11">

            <div class="row">
                <div class="col-md-5">
                    {{ form_row(item.service) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(item.price) }}
                </div>
            </div>

        </div>
    </div>
    
    <script src="{{ asset('/js/budget/_row_item.js') }}"></script>

{% endmacro %}

{% import _self as formMacros %}

<div class="card border-dark">
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 align-self-center">
                <ul class="items list-group" data-prototype="{{ formMacros.item_tag(form.items.vars.prototype)|e('html_attr') }}">
                    {% for item in form.items %}
                        <li class="list-group-item">
                            {{ formMacros.item_tag(item) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

